@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #e7d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.wrapper {
    width: 550px;
    background-color: #ffffff;
}


/* navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f55a5a;
    color: #ffffff;
}

nav > img {
   width: 24px;
   height: 24px;
   filter: invert();
}

nav > h1 {
    font-size: 15px;
}